<div class="container">
  <div class="row align-items-center mb-4">
    <div class="col-12">
      <div *ngIf="loading" class="text-center">
        <p>Loading cart...</p>
      </div>
      <app-cart-item [cartItems]="cart.cartItems"></app-cart-item>
      <div class="text-end mt-3" *ngIf="!isCartEmpty()">
  <h4 >
  Total: ${{ cart.totalPrice| number:'1.2-2' }}
</h4>

</div>

    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="proceedToCheckout()" [disabled]="isCartEmpty() || loading">Proceed to Checkout</button>
    </div>
  </div>
</div>