<div class="container">
  <div class="row align-items-center mb-4">
    <div class="col-12">
      <div *ngIf="loading" class="text-center">
        <p>Loading cart...</p>
      </div>
      <app-cart-item [cartItems]="cart.cartItems"></app-cart-item>
      <div class="text-end mt-3" *ngIf="!isCartEmpty()">
  <h4 >
  Total: ${{ cart.totalPrice| number:'1.2-2' }}
</h4>

</div>

      <!-- Empty state -->
      <div *ngIf="!loading && cart.cartItems.length === 0" class="text-center py-5">
        <div class="empty-cart">
          <i class="fas fa-shopping-cart fa-4x mb-3 text-muted"></i>
          <h3>No items yet.</h3>
          <a routerLink="/products" class="btn btn-primary mt-3">
            <i class="fas fa-shopping-bag"></i> Shop Now
          </a>
        </div>
      </div>

    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="proceedToCheckout()" [hidden]="isCartEmpty() || loading">Proceed to Checkout</button>
    </div>
  </div>
</div>
