.filters {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
  
}

.filters h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: black;
  
  
}

.filter-group {
  margin-bottom: 16px;
    /* width: 50%; */

}

.filter-group label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  
}

.filter-group input,
.filter-group select {
  /* width: 100%; */
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease;
  
}

.list{
    width: 90%;

}

.filter-group input:focus,
.filter-group select:focus {
  border-color: #28a745;
}

.filters button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #f0f0f0;
  font-size: larger;
}

.filters button:hover {
  background-color: #0b2b13;
}

.price-range {
  display: flex;
  gap: 8px;
  align-items: center;
}

.price-range input {
  /* width: 10%; */
  width: 65px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  outline: none;
  transition: border-color 0.2s ease;
}


.separator {
  font-weight: bold;
  color: #555;
}