<footer class="main-footer">
  <div class="footer-container">
    <!-- Information Section -->
    <div class="footer-section">
      <h4 class="footer-title">Information</h4>
      <div class="footer-content">
        <p><i class="fas fa-map-marker-alt"></i> ITI, Smart Village</p>
        <p><i class="fas fa-phone"></i> (+20) 123 456 7890</p>
        <p><i class="fas fa-envelope"></i> support iti.gov.eg</p>
      </div>
    </div>

    <!-- Website Section -->
    <div class="footer-section">
      <h4 class="footer-title">Website</h4>
      <ul class="footer-links">
        <li><a routerLink="/store">Store</a></li>
      </ul>
    </div>

    <!-- Our Company Section -->
    <div class="footer-section">
      <h4 class="footer-title">Our Company</h4>
      <ul class="footer-links">
        <li><a routerLink="/about">About us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
      </ul>
    </div>

    <!-- Copyright Section -->
<!--    <div class="copyright-section">-->
<!--      <p>Copyright © 2025 Cuppot All Right Reserved</p>-->
<!--    </div>-->
<!--    <div class="copyright-section">-->
<!--        <span>Copyright © 2025</span>-->

<!--        <a href="home">Cuppot</a>-->

<!--        <span>All Right Reserved</span></div>-->
<!--      <div class="lower-footer__payment">-->
<!--        <ul>-->
<!--          <li><i class="fab fa-cc-stripe"></i></li>-->
<!--          <li><i class="fab fa-cc-paypal"></i></li>-->
<!--          <li><i class="fab fa-cc-mastercard"></i></li>-->
<!--          <li><i class="fab fa-cc-visa"></i></li>-->
<!--          <li><i class="fab fa-cc-discover"></i></li>-->
<!--          <li><i class="fab fa-cc-amex"></i></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
</footer>
